# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
env/
build/
dist/
wheels/

# virtualenv
.env
.venv
venv/
ENV/

# node_modules
node_modules

# IDE config
.vscode/
.idea

# mkdocs documentation
/site

# buit bundle
public/*
.cache/
server/static/*
