# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
env/
build/
dist/
wheels/

# virtualenv
.env
.venv
venv/
ENV/

# node_modules
web/node_modules

# IDE config
web/.vscode
server/.idea

# mkdocs documentation
/site

# buit bundle
public/*
.cache/
server/public/*

server/config/*